<a href="https://colab.research.google.com/github/rahulsonarr/Machine-Learning/blob/main/1.%20Libraries%20for%20machine%20learning/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas: Pandas is a powerful library for data manipulation and analysis. It provides data structures and functions for handling structured data, such as data frames, which are commonly used in machine learning workflows.

In [4]:
import pandas as pd

In [5]:
# Creating a DataFrame from a dictionary
data = {
    'Name': ['John', 'Emma', 'Peter', 'Olivia'],
    'Age': [25, 28, 30, 27],
    'City': ['New York', 'London', 'Paris', 'Sydney']
}

In [6]:
df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print()

DataFrame:
     Name  Age      City
0    John   25  New York
1    Emma   28    London
2   Peter   30     Paris
3  Olivia   27    Sydney

In [7]:
# Accessing columns
print("Column 'Name':")
print(df['Name'])
print()

Column 'Name':
0      John
1      Emma
2     Peter
3    Olivia
Name: Name, dtype: object

In [8]:
# Accessing rows
print("Row at index 1:")
print(df.iloc[1])
print()

Row at index 1:
Name      Emma
Age         28
City    London
Name: 1, dtype: object

In [9]:
# Slicing rows
print("Rows 1 and 2:")
print(df[1:3])
print()

Rows 1 and 2:
    Name  Age    City
1   Emma   28  London
2  Peter   30   Paris

In [10]:
# Filtering rows based on a condition
print("Filtered rows (Age > 26):")
filtered_df = df[df['Age'] > 26]
print(filtered_df)
print()

Filtered rows (Age > 26):
     Name  Age    City
1    Emma   28  London
2   Peter   30   Paris
3  Olivia   27  Sydney

In [11]:
# Adding a new column
df['Profession'] = ['Engineer', 'Teacher', 'Doctor', 'Designer']
print("DataFrame with added column:")
print(df)
print()

DataFrame with added column:
     Name  Age      City Profession
0    John   25  New York   Engineer
1    Emma   28    London    Teacher
2   Peter   30     Paris     Doctor
3  Olivia   27    Sydney   Designer

In [12]:
# Basic statistics
print("Summary statistics (Age column):")
print(df['Age'].describe())
print()

Summary statistics (Age column):
count     4.000000
mean     27.500000
std       2.081666
min      25.000000
25%      26.500000
50%      27.500000
75%      28.500000
max      30.000000
Name: Age, dtype: float64

In [13]:
# Sorting the DataFrame
sorted_df = df.sort_values('Age', ascending=False)
print("Sorted DataFrame (by Age):")
print(sorted_df)
print()

Sorted DataFrame (by Age):
     Name  Age      City Profession
2   Peter   30     Paris     Doctor
1    Emma   28    London    Teacher
3  Olivia   27    Sydney   Designer
0    John   25  New York   Engineer

In [14]:
# Grouping and aggregating data
grouped_df = df.groupby('City').mean()
print("Grouped DataFrame (by City, with mean Age):")
print(grouped_df)
print()

Grouped DataFrame (by City, with mean Age):
           Age
City
London    28.0
New York  25.0
Paris     30.0
Sydney    27.0

<ipython-input-14-29788654a196>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_df = df.groupby('City').mean()